flask
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
pypdf
psutil
elevenlabs
pymongo
flask-pymongo
faiss-cpu